/* ---------------------------------------------- Global -------------------------------------------------------- */
@import url('https://fonts.cdnfonts.com/css/raleway-5');

@font-face {
    font-family: "Raleway";
    font-style : normal;
    src        : local("Raleway"),
    url("https://www.blinds-2go.co.uk/assets/fonts/raleway/raleway-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style : normal;
    src        : local("Nunito Sans"),
    url("https://www.blinds-2go.co.uk/assets/fonts/nunitosans/nunitosans.woff2") format("woff2");
}

body{
    --main-color: #3b214f;
    color: var(--main-color);
    font-family: 'Nunito Sans', sans-serif;
}

/* ---------------------------------------------- Empty cart section -------------------------------------------------------- */

.empty-cart-links{
    display: none;
}

.empty-cart-message p,
.empty-cart-title{
    font-family: 'Raleway', sans-serif;
}

.empty-cart-title{
    font-size: 22px;
    font-weight: 400;
}
/* ---------------------------------------------- Header section -------------------------------------------------------- */

#header-container{
    max-width: 1280px;
    display: flex;
    padding: 2.19rem 0;
}

.header-payments{
    margin-left: auto;
    display: flex;
    align-items: center;
}


/* ---------------------------------------------- reassurance section -------------------------------------------------------- */
.reassurance-bar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #eee;
    padding: 3px 7rem;
}

.reassurance-item{
    display: flex;
    align-items: center;
}

.reassurance-item-image{
    margin-right: 10px;
}

.five-icon{
    width: 33px;
    height: 27px;
}

.segtigo-icon{
    width: 72px;
    height: 30px;
}

.truck-icon{
    width: 27px;
    height: 27px;
}

.shopping-outer-reassurance,
.checkout-outer-reassurance{
    padding-top: .5rem;
    border-top: 3px solid #3b214f; 
    margin-top: 0.5rem; 
}

.reassurance-item-text p{
    margin: 0;
}

.reassurance-title{
    font-size: 14px;
    font-weight: 700;
}

.reassurance-subtitle{
    font-size: 12px;
}
/* ---------------------------------------------- Cart header ----------------------------------------------------------*/

.order-form-header{
    display: flex;
    align-items: center;
    max-width: 1280px;
    justify-content: space-between;
    margin: 0 auto;
}

#orderform-heading{
    font-size: 30px !important;
    font-weight: 600 !important;
    margin-top: 0;
    color: var(--main-color) !important;
    font-family: "Raleway", sans-serif;
}

.orderform-header-images img{
    width: 144px;
}

/* ---------------------------------------------- Cart section -------------------------------------------------------- */
.empty-cart-title{
    color: var(--main-color);
}

.total-selling-price,
.new-product-price{
    font-weight: 400 !important;
    font-size: 16px;
}

td.product-price{
    margin-right: 0 !important;
    order: 4 !important;
}

td.quantity-price{
    margin-left: 0 !important;
}

#cartLoadedDiv{
    width: calc(70% - 30px);
}

.quantity-price{
    display: inline !important;
}

.v-custom-product-item-wrap td.quantity-price,
#quantity-total{
    display: inline !important;
}

th.product,
th.quantity{
    font-size: 0;
}

th.quantity{
    display: flex;
    justify-content: center;
}

th.product::before{
    content: "Items";
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

th.quantity::before{
    content: "QTY";
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

th.product-price,
th.quantity-price{
    font-size: 13px;
    font-weight: 400;
}

th.product-price{
    order: 4 !important;
}

th.quantity{
    order: 5 !important;
}

.container-main.container-cart{
    max-width: none;
    margin: 0;
    width: 100%;
    background: #fff;
}

.checkout-container{
    max-width: 1280px;
    margin: 0 auto;
}

#cart-choose-products img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}


.link-choose-products{
    display: flex;
    flex-direction: row-reverse;
    max-width: max-content;
    align-items: center;
    background: #0275d8;
    border: none;
    border-radius: 4px;
    font-size: 0;
    padding: 0.9rem 1.4rem;
}

.link-choose-products::before{
    content: "Continue Shopping";
    background: #0275d8;
    font-weight: 600;
    font-size: 18px;
}

.link-choose-products:hover{
    background: #0067BD;
    border: none;
}

.product-name{
    height: 100%;
}

.product-name a{
    font-size: 14px;
    font-weight: bold;
}

.product-name .seller{
    font-size: 14px;
} 

#cart-to-orderform{
    background: #e5800c;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    display: none;
}

#to-checkout-btn{
    background: #f38d18;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600; 
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
}

#to-checkout-btn:hover{
    background: #e5800c;
}

.payments-checkout{
    width: 106px;
    height: 15px;
    margin-right: 5px;
}

.proceed-arrow{
    width: 15px;
    margin-left: 6px;
}

.cart{
    border: 1px solid #dddddd!important;
    padding: 0 !important;
    border-radius: 0 !important;
} 

.cart-items thead{
    background: #eee;
}

#cart-header-product{
    padding-left: 2.8rem !important;
    width: calc(100% - 404px) !important;
}

.v-custom-product-item-wrap{
    align-items: flex-start !important;
    padding-right: 2rem !important;
}

.product-image{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

td.quantity{
    border: none !important;
    margin: 0 1rem !important;
    order: 5 !important;
}

.icon-plus-sign{
    content: url('/arquivos/plus-icon.svg');
    width: 24px;
}

.icon-minus-sign{
    content: url('/arquivos/minus-icon.svg');
    width: 24px;
}

.best-price{
    font-size: 16px;
}

.item-remove-ico::before{
    content: url("/arquivos/cross-icon.svg") !important;
}


.continue-shopping-container{
    display: flex;
    max-height: 3rem;
}

.continue-shopping-container a{
    display: flex;
    justify-content: start;
    background: #0275d8;
    border-radius: 4px;
    padding: 1rem 1.8rem;
}

.continue-shopping-container a img{
    width: 15px;
    margin-right: 5px;
}

.continue-shopping-container a span{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.cart-more-options{
    display: none !important;
}

.product-name .seller{
    color: #000;
}

td.quantity input{
    font-family: 'Nunito Sans' !important;
    font-size: 16px;
}


/* --------------------------------------------------------- Summary section ---------------------------------------------------- */

.summary-template-holder{
    border-radius: 0;
    border: 1px solid #dddddd!important;
    width: 31% !important;
}

.summary-coupon-wrap{
    display: none;
}

.summary-totalizer-text{
    font-size: 16px;
}

tfoot td.monetary{
    font-size: 22px !important;
    color: #000 !important;
    font-weight: 400 !important;
}

tfoot td.info{
    font-size: 0 !important;
}

tfoot td.info::before{
    content: "Order total";
    font-size: 22px;
    color: #000;
    font-weight: 400;
}

.totalizers-list{
    border: none !important;
    padding: 0 !important;
}

.totalizers-list .monetary{
    font-size: 16px !important;
}

.totalizers-list .info{
    font-size: 0 !important;
}

.totalizers-list .info::before{
    content: "Order subtotal";
    font-size: 16px !important;
}

.shipping-calculate{
    border-bottom: 2px solid rgba(0, 0, 0, 0.05) !important;
    padding-top: 2px !important;
}

.shipping-calculate .info span{
    font-size: 0;
}

.shipping-calculate .info span::before{
    font-size: 16px;
    content: "Delivery";
}

#secure-cell{
    padding: 0 !important;
}

.secure-checkout span{
    font-size: 12px;
    font-weight: 400;
    color: #bdc8ce;
}

.smart-image{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.summary-template-holder .cart-links-bottom{
    margin-top: 20px !important;
}

.cart-dont-know-postal-code:hover,
.cart-dont-know-postal-code,
.shipping-calculate-link:hover,
.shipping-calculate-link{
    color: #000 !important;
}

#cart-to-orderform{
    font-size: 0;
}

#cart-to-orderform::before{
    font-size: 18px;
    content: "Secure checkout";
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

#cart-to-orderform::after{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    content: url('/arquivos/right-arrow-white.svg');
}

/* ---------------------------------------------- Reviews section ---------------------------------------------- */
.outer-reviews-container{
    max-width: 1280px;
    margin: 0 auto 2rem auto;
}

.reviews-container{
    padding: 55px 20px;
    width: 50%;
    background: #efefef;
}

.reviews-text-container,
.reviews-header{
    text-align: center;
}

.reviews-header{
    padding: 10px 0 15px;
}

.reviews-text{
    font-size: 16px;
    color: #000;
}

.reviews-stars{
    padding: 5px 0 25px;
}

.reviews-logos{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
}

.reviews-stars{
    display: flex;
    justify-content: center;
}

.reviews-stars img{
    max-width: 20%;
}

.trust-header{
    font-weight: 700;
    font-size: 31px;
    color: #000;
}

/* ---------------------------------------------- Checkout email section ---------------------------------------------- */
.client-profile-data .accordion-heading{
    display: none;
}

#checkout-heading{
    font-size: 30px !important;
    font-weight: 600 !important;
    margin-top: 0;
    color: var(--main-color) !important;
    font-family: "Raleway", sans-serif;
}

.checkout-header{
    max-width: 1280px;
    margin: 0 auto;
}

#client-profile-data .form-step{
    padding-top: 0 !important;
}

.client-profile-data{
    padding: 0 0 30px 0 !important;
}

.container-order-form{
    max-width: none !important;
    width: 100% !important;
    background: #fff;
}

.box-client-info{
    background: #f7f6f7;
    border: 1px solid #e1e1e1 !important;
    padding: 20px;
}

.custom-cart-template-wrap{
    background: #f7f6f7 !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0;
    padding: 0 5px 5px;
}

.custom-cart-template-wrap .summary-template-holder{
    width: 100% !important;
    background: #fff !important;
    padding: 15px !important;
}

.box-client-info-pf .client-notice{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    display: flex;
}

.client-notice.notice::before{
    content: url('/arquivos/person-main.svg');
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.box-client-info-pj,
.box-client-info .newsletter{
    display: none;
}

#go-to-shipping{
    border-radius: 4px;
    background: #0275d8 !important;
    border: none !important;
    font-size: 18px;
    font-weight: 600;
}

.client-notice{
    margin-bottom: 30px !important;
}

.client-phone label,
.client-last-name label,
.client-first-name label,
.client-email label{
    font-size: 16px;
    color: #000 !important;
}

.totalizers-list .monetary,
.totalizers-list .info,
.summary-totalizer-text{
    color: #000 !important;
}

/* ---------------------------------------------- Checkout shipping section ---------------------------------------------- */
#go-to-shipping{
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    background: #e5800c !important;
}


#shipping-data{
    background: #f7f6f7 !important;
}

.srp-summary-result .info::before{
    content: "Delivery";
    font-size: 16px !important;
    font-family: 'Nunito Sans', sans-serif;
}

.vtex-omnishipping-1-x-shippingSectionTitle,
.ship-receiverName label,
.ship-state label,
.ship-city label,
.ship-complement label,
.ship-street label,
.ship-postalCode label{
    color: #000 !important;
    font-size: 16px !important;
}

.delivery-address-title{
    color: #000 !important;
    font-size: 13px !important;
}

.btn-go-to-payment-wrapper{
    margin-top: 3rem !important;
}

#btn-go-to-payment{
    border-radius: 4px;
    background: #e5800c;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: 600;
}

.shipping-data span.accordion-toggle{
    font-size: 0 !important;
    display: flex !important;
    align-items: center;
}

.shipping-data span.accordion-toggle::after{
    font-size: 20px;
    font-weight: 400;
    content: "Delivery address";
}

.link-change-shipping{
    color: #000 !important;
}

/* #shipping-data .step .accordion-heading::before{
    content: url('/arquivos/van_purple.svg') !important;
    width: 22px !important;
    height: 22px !important;
    margin-right: 35px;
    transform: translate(4px, -6px)
} */


.shipping-data span::before{
    display: none !important;
    border: none !important;
}

/* ---------------------------------------------- Checkout shipping section ---------------------------------------------- */
#payment-data-submit{
    border-radius: 4px;
    background: #e5800c !important;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 600 !important;
}

#payment-data{
    background: #f7f6f7 !important;
}

#payment-data-submit .icon-lock{
    display: none !important;
}

#payment-data span{
    font-size: 20px;
    font-weight: 400 !important;
}

#payment-data .accordion-toggle span[data-i18n="paymentData.payment"]::before{
    display: none;
}

#payment-data .accordion-toggle span[data-i18n="paymentData.payment"]{
    font-size: 0;
}

#payment-data .accordion-toggle span[data-i18n="paymentData.payment"]::after{
    font-size: 20px;
    font-weight: 400;
    content: 'Payment details';
}

/* ------------------------------------------------------------- Mobile ----------------------------------------------- */

@media screen and (min-width: 960px){
    img.header-logo{
        width: 401px;
        height: 72px
    }
}


@media screen  and (max-width: 998px){
    .cart-template{
        flex-direction: column;
    }

    .summary-template-holder,
    .cart-template-holder{
        width: 98% !important;
        margin: 0 auto;
    }    
}

@media screen and (max-width: 601px){
    .reassurance-bar{
        flex-direction: column;
        align-items: center;
    }

    .reassurance-item{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }

    .reassurance-item-text{
        margin-top: 1rem;
    }

    .reassurance-title{
        text-align: center;
    }
}